body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f6f4f8;
    text-align: center;
}

.header {
    background-color: #2c3e50;
    color: white;
    padding: 60px 20px;
}

.header button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;
}

.header button:hover {
    background-color: #217dbb;
}

.section {
    background: white;
    margin: 30px;
    padding: 30px;
    border-radius: 12px;
}

h2 {
    color: #2c3e50;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #ecf0f1;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
}

a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}